body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Futura';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #FF7F50;
}
a:hover {
    text-decoration: underline;
}
span {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;     
}
span b {
    font-size: 14px;
}
h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}
h3 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
}
p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
}

ul.posts li {
    list-style: none;
}

.chop_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
}

.onion {
    position: fixed;
    z-index: -1;
    max-width: 300px;
    height: auto;
}

.knife {
    position: fixed;
    z_index: 1;
    max-width: 300px;
    height: auto;
    animation: knife 1s linear;
}
@keyframes knife {
    0% {
        top: 25%;
        transform: rotate(0deg);
    }
    25% {
        top: 37.5%;
        transform: rotate(30deg);        
    }
    50% {
        top: 50%;
        transform: rotate(0deg);
    }
    75% {
        top: 37.5%;
        transform: rotate(-30deg);        
    }
    100% {
        top: 25%;
        transform: rotate(0deg);          
    }
}

.slice {
    position: fixed;
    z-index: 2;
    max-width: 300px;
    height: auto;   
    animation: slice 1s linear;    
}
@keyframes slice {
    0% {
        top: 50%;        
        transform: rotateZ(0deg);        
    }
    25% {
        top: 50%;        
        transform: rotateZ(0deg);
    }
    50% {
        top: 50%;
        transform: rotateZ(10deg);
    }
    75% {
        top: 37.5%;
        transform: rotateZ(10deg);
    }
    100% {
        top: 55%;
        transform: rotateX(90deg) rotateZ(10deg);
    }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 5;
  animation-fill-mode: both;
}
