.rewardDetails-container {
    margin: 1em;
}

.rewardDetail-heading,
.rewardDetail-data {
    height: 2em;
}

.rewardDetail-heading {
    font-size: 0.75em;
}

.rewardDetail-data {
    text-align: center;
}