.game-container {
    width: 50vw
}

.game-flex {
    display: flex
}

.game-flex1 {
    flex: 1
}

.game-fitC {
    width: fit-content;
}

@media screen and (max-width:900px) {
    .game-container {
        width: 80vw
    }
}