@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
  overflow: hidden
}

:root {
  /* Toastify */
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #FF7F50;
  --toastify-color-success: #5a9919;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e02527;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: Open Sans;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #FF7F50,
    #ff2d55
  );

  --toastify-color-progress-dark: #25e0de;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}


a {
    text-decoration: none;
    color: #FF7F50;
}

a:hover {
    text-decoration: underline;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fadeout-5sec {
    opacity: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    25% {
        opacity: 0.8
    }

    50% {
        opacity: 0.5
    }

    75% {
        opacity: 0.2
    }

    100% {
        opacity: 0
    }
}


.memory-correctSelection {
    background-color: coral;
}

.memory-missingSelection {
    background-color: crimson;
}