.landing,
.landing-anim {
    margin: 0 4em;
}

.landing-anim {
    position: relative;
    margin-top: 4em;
    width: calc(100% - 8em);
    height: 60vh;
}

.landing-anim-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.landing-anim-selector {
    position: absolute;
    right: 0;
    bottom: 0;
}

.landing section h4 {
    margin-bottom: 1em;
}


.landing section div {
    margin: 1em 0;
}

.landing-footer {
    border-top: 1px solid #d5d5d5;
}

.landing-footer div a {
    font-weight: bold;
}

.landing-footer div {
    font-size: 0.75em;
    margin: 1.5em 0 !important;
}