.displayCommon-table {
    width: 100%;
    margin: 0 1em
}

.displayCommon-header-fontlight {
    font-weight: normal;
    font-size: 10px;
    min-width: 60px;
}

.displayCommon-stockName {
    text-align: center;
    font-size: 10px;
}

.displayCommon-weighting {
    min-width: 45px;
    text-align: center;
    font-size: 8px;
}

.displayCommon-tableRow-alt {
    background: #d5d5d580
}