.displayCommonTable {
    width: 100%;
    margin: 0 1em
}

.displayCommonHeaderFontlight {
    font-weight: normal;
    font-size: 10px;
    min-width: 60px;
}

.displayCommonStockName {
    text-align: center;
    font-size: 10px;
}

.displayCommonWeighting {
    min-width: 45px;
    text-align: center;
    font-size: 8px;
}

.displayCommonTableRowAlt {
    background: #d5d5d580
}