body {
    margin: 0;
    font-family: 'Futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 14px;
    font-size: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em;
    margin-top: 0px;
}

h1 span {
    font-size: 0.5em;
}


a {
    text-decoration: none;
    color: #FF7F50;
}

a:hover {
    text-decoration: underline;
}

.fadeout-5sec {
    opacity: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    25% {
        opacity: 0.8
    }

    50% {
        opacity: 0.5
    }

    75% {
        opacity: 0.2
    }

    100% {
        opacity: 0
    }
}