body {
    margin: 0;
    font-family: 'Futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 14px;
    font-size: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em;
    margin-top: 0px;
}

h1 span {
    font-size: 0.5em;
}


a {
    text-decoration: none;
    color: #FF7F50;
}

a:hover {
    text-decoration: underline;
}